@charset "utf-8";
.maincss {
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}
.copyright {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	background-color: #000000;
}
.table1 {
	float: none;
	width: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.linkcus {
	text-decoration: none;
}
a {
	color: #FF0000;
	text-decoration: none;
}
a:hover  {
	color: #00FF00;
	text-decoration: none;
}
.center {
	margin-top: auto;
}
#maindiv {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
