<?xml version="1.0" encoding="utf-8"?>
<sothink_menu>
  <description>
    <temp_depict>Preview the menu in a dark background instead of white, the whole effect will be better.</temp_depict>
    <temp_title>Glamor</temp_title>
    <version>8.20</version>
    <prog_id>PageletServer.DynamicMenu</prog_id>
    <update_time></update_time>
    <preview_path></preview_path>
  </description>
  <global>
    <top_state>2</top_state>
    <publish_file></publish_file>
    <js_path_name></js_path_name>
    <fast_js_enable>0</fast_js_enable>
    <fast_js_type>1</fast_js_type>
    <fast_js_path></fast_js_path>
    <fast_js_img_path></fast_js_img_path>
    <fast_js_script_path></fast_js_script_path>
    <click_show>0</click_show>
    <right_to_left>0</right_to_left>
    <hide_sub>1</hide_sub>
    <delay_hide>1000</delay_hide>
    <delay_show_v>250</delay_show_v>
    <delay_show_h>0</delay_show_h>
    <ie_encode>auto-select</ie_encode>
    <name>menu0a5b</name>
    <type>0</type>
    <align>0</align>
    <stretch_width>0</stretch_width>
    <width>100</width>
    <width_unit>0</width_unit>
    <coor_x>0</coor_x>
    <coor_x_scroll>0</coor_x_scroll>
    <coor_y>0</coor_y>
    <coor_y_scroll>0</coor_y_scroll>
    <cursor_nolink>default</cursor_nolink>
    <cursor_link>hand</cursor_link>
    <script_path></script_path>
    <image_path></image_path>
    <site_root></site_root>
    <advanced>0</advanced>
    <link_prefix></link_prefix>
    <highlight>67108896</highlight>
    <highlight_level>2</highlight_level>
    <encode>1</encode>
    <hide_select>1</hide_select>
    <hide_object>0</hide_object>
    <hide_iframe>0</hide_iframe>
  </global>
  <ul>
    <li type="text" class="item"><a href="file:///D:/work/Alpa-Ishita/info.htm" target="_blank">Home</a></li>
    <li type="text" class="pop_item"><a href="" target="_self">Booking</a></li>
    <ul>
      <li type="text" class="item"><a href="#" target="_self">Book Air Tickets</a></li>
      <li type="text" class="item"><a href="#" target="_self">Modify Booking</a></li>
      <li type="text" class="item"><a href="#" target="_self">Cancel Booking</a></li>
    </ul>
    <li type="text" class="pop_item"><a href="" target="_self">Flight Information</a></li>
    <ul>
      <li type="text" class="item"><a href="#" target="_self">Schedules</a></li>
      <li type="text" class="item"><a href="#" target="_self">Flight Status</a></li>
    </ul>
    <li type="text" class="pop_item"><a href="" target="_self">Press Corner</a></li>
    <ul>
      <li type="text" class="item"><a href="#" target="_self">Photo Galary</a></li>
      <li type="text" class="item"><a href="#" target="_self">Press Release</a></li>
      <li type="text" class="item"><a href="#" target="_self">Publication</a></li>
    </ul>
    <li type="text" class="pop_item"><a href="" target="_self">About Us</a></li>
    <ul>
      <li type="text" class="item"><a href="" target="_self">Chairman's Message</a></li>
      <li type="text" class="item"><a href="" target="_self">Our Growth</a></li>
    
    </ul>
    <li type="text" class="item"><a href="" target="_self">Contact Us</a></li>
    <li type="text" class="item"><a href="" target="_self">Site Map</a></li>
    <li type="text" class="item"><a href="" target="_self">Help Desk</a></li>
  </ul>
  <layer>
    <setting>
      <display>0</display>
      <spacing>3</spacing>
      <padding>0</padding>
      <transparency>0</transparency>
      <direction>0</direction>
      <corner_x>0</corner_x>
      <corner_y>0</corner_y>
      <bg_color>#AACBE2</bg_color>
      <bg_transparent>0</bg_transparent>
      <bg_image></bg_image>
      <bg_tile>3</bg_tile>
      <border_style>0</border_style>
      <border_width>1</border_width>
      <border_color>#000000</border_color>
      <border_synchronize>1</border_synchronize>
      <shadow_type>0</shadow_type>
      <shadow_size>3</shadow_size>
      <shadow_color>#999999</shadow_color>
      <effect_show>0</effect_show>
      <effect_hide>0</effect_hide>
      <effect_speed>50</effect_speed>
      <enable_decoration>1</enable_decoration>
      <dr_left_top>C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\leftup.gif</dr_left_top>
      <dr_right_top>C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\rightup.gif</dr_right_top>
      <dr_right_bottom>C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\rightdown.gif</dr_right_bottom>
      <dr_left_bottom>C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\leftdown.gif</dr_left_bottom>
      <dr_top img_path="" img_height="33" img_width="-1" bg_img="C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\up.gif" bg_color="#FFFFF7" bg_transparent="1" bg_tile="3"></dr_top>
      <dr_right img_path="" img_height="28" img_width="33" bg_img="C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\right.gif" bg_color="#FFFFF7" bg_transparent="1" bg_tile="3"></dr_right>
      <dr_bottom img_path="" img_height="29" img_width="-1" bg_img="C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\down.gif" bg_color="#CCCCCC" bg_transparent="1" bg_tile="3"></dr_bottom>
      <dr_left img_path="" img_height="28" img_width="36" bg_img="C:\PROGRA~1\SOURCE~1\SOTHIN~1\templates\Art\Glamor\left.gif" bg_color="#FFFFF7" bg_transparent="1" bg_tile="3"></dr_left>
      <multi_column mc_enable="0" mc_number="2" sepa_color="#000000" sepa_transparent="0" sepa_thickness="1" sepa_img="" sepa_img_tile="3"></multi_column>
    </setting>
    <node state="0" condition_invisible="0" advanced_disable="0">
      <condition_prefix></condition_prefix>
      <condition_suffix></condition_suffix>
      <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
      <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
      <image out="" over="" width="-1" height="-1" border="0"></image>
      <icon out="" over="" width="0" height="0" border="0"></icon>
      <arrow out="" over="" width="0" height="0" border="0"></arrow>
      <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
      <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    </node>
    <node state="2" condition_invisible="0" advanced_disable="0">
      <condition_prefix></condition_prefix>
      <condition_suffix></condition_suffix>
      <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
      <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
      <image out="" over="" width="-1" height="-1" border="0"></image>
      <icon out="" over="" width="0" height="0" border="0"></icon>
      <arrow out="" over="" width="0" height="0" border="0"></arrow>
      <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
      <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    
      <layer>
        <setting>
          <display>1</display>
          <spacing>2</spacing>
          <padding>3</padding>
          <transparency>0</transparency>
          <direction>0</direction>
          <corner_x>0</corner_x>
          <corner_y>0</corner_y>
          <bg_color>#FFFFF7</bg_color>
          <bg_transparent>1</bg_transparent>
          <bg_image></bg_image>
          <bg_tile>3</bg_tile>
          <border_style>0</border_style>
          <border_width>1</border_width>
          <border_color>#000000</border_color>
          <border_synchronize>1</border_synchronize>
          <shadow_type>0</shadow_type>
          <shadow_size>3</shadow_size>
          <shadow_color>#999999</shadow_color>
          <effect_show>0</effect_show>
          <effect_hide>0</effect_hide>
          <effect_speed>50</effect_speed>
          <enable_decoration>0</enable_decoration>
          <dr_left_top></dr_left_top>
          <dr_right_top></dr_right_top>
          <dr_right_bottom></dr_right_bottom>
          <dr_left_bottom></dr_left_bottom>
          <dr_top img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_top>
          <dr_right img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_right>
          <dr_bottom img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_bottom>
          <dr_left img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_left>
          <multi_column mc_enable="0" mc_number="2" sepa_color="#000000" sepa_transparent="0" sepa_thickness="1" sepa_img="" sepa_img_tile="3"></multi_column>
        </setting>
        <node state="0" condition_invisible="0" advanced_disable="0">
          <condition_prefix></condition_prefix>
          <condition_suffix></condition_suffix>
          <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
          <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
          <image out="" over="" width="-1" height="-1" border="0"></image>
          <icon out="" over="" width="0" height="0" border="0"></icon>
          <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
          <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
          <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
        </node>
        <node state="0" condition_invisible="0" advanced_disable="0">
          <condition_prefix></condition_prefix>
          <condition_suffix></condition_suffix>
          <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
          <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
          <image out="" over="" width="-1" height="-1" border="0"></image>
          <icon out="" over="" width="0" height="0" border="0"></icon>
          <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
          <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
          <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
        </node>
        <node state="0" condition_invisible="0" advanced_disable="0">
          <condition_prefix></condition_prefix>
          <condition_suffix></condition_suffix>
          <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
          <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
          <image out="" over="" width="-1" height="-1" border="0"></image>
          <icon out="" over="" width="0" height="0" border="0"></icon>
          <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
          <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
          <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
        </node>
    </layer></node>
    <node state="1" condition_invisible="0" advanced_disable="0">
        <condition_prefix></condition_prefix>
        <condition_suffix></condition_suffix>
        <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
        <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
        <image out="" over="" width="-1" height="-1" border="0"></image>
        <icon out="" over="" width="0" height="0" border="0"></icon>
        <arrow out="" over="" width="0" height="0" border="0"></arrow>
        <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
        <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    
        <layer>
          <setting>
            <display>1</display>
            <spacing>2</spacing>
            <padding>3</padding>
            <transparency>0</transparency>
            <direction>0</direction>
            <corner_x>0</corner_x>
            <corner_y>0</corner_y>
            <bg_color>#FFFFF7</bg_color>
            <bg_transparent>1</bg_transparent>
            <bg_image></bg_image>
            <bg_tile>3</bg_tile>
            <border_style>0</border_style>
            <border_width>1</border_width>
            <border_color>#000000</border_color>
            <border_synchronize>1</border_synchronize>
            <shadow_type>0</shadow_type>
            <shadow_size>3</shadow_size>
            <shadow_color>#999999</shadow_color>
            <effect_show>0</effect_show>
            <effect_hide>0</effect_hide>
            <effect_speed>50</effect_speed>
            <enable_decoration>0</enable_decoration>
            <dr_left_top></dr_left_top>
            <dr_right_top></dr_right_top>
            <dr_right_bottom></dr_right_bottom>
            <dr_left_bottom></dr_left_bottom>
            <dr_top img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_top>
            <dr_right img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_right>
            <dr_bottom img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_bottom>
            <dr_left img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_left>
            <multi_column mc_enable="0" mc_number="2" sepa_color="#000000" sepa_transparent="0" sepa_thickness="1" sepa_img="" sepa_img_tile="3"></multi_column>
          </setting>
          <node state="0" condition_invisible="0" advanced_disable="0">
            <condition_prefix></condition_prefix>
            <condition_suffix></condition_suffix>
            <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
            <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
            <image out="" over="" width="-1" height="-1" border="0"></image>
            <icon out="" over="" width="0" height="0" border="0"></icon>
            <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
            <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
            <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
          </node>
          <node state="0" condition_invisible="0" advanced_disable="0">
            <condition_prefix></condition_prefix>
            <condition_suffix></condition_suffix>
            <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
            <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
            <image out="" over="" width="-1" height="-1" border="0"></image>
            <icon out="" over="" width="0" height="0" border="0"></icon>
            <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
            <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
            <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
          </node>
    </layer></node>
    <node state="1" condition_invisible="0" advanced_disable="0">
          <condition_prefix></condition_prefix>
          <condition_suffix></condition_suffix>
          <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
          <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
          <image out="" over="" width="-1" height="-1" border="0"></image>
          <icon out="" over="" width="0" height="0" border="0"></icon>
          <arrow out="" over="" width="0" height="0" border="0"></arrow>
          <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
          <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    
          <layer>
            <setting>
              <display>1</display>
              <spacing>2</spacing>
              <padding>3</padding>
              <transparency>0</transparency>
              <direction>0</direction>
              <corner_x>0</corner_x>
              <corner_y>0</corner_y>
              <bg_color>#FFFFF7</bg_color>
              <bg_transparent>1</bg_transparent>
              <bg_image></bg_image>
              <bg_tile>3</bg_tile>
              <border_style>0</border_style>
              <border_width>1</border_width>
              <border_color>#000000</border_color>
              <border_synchronize>1</border_synchronize>
              <shadow_type>0</shadow_type>
              <shadow_size>3</shadow_size>
              <shadow_color>#999999</shadow_color>
              <effect_show>0</effect_show>
              <effect_hide>0</effect_hide>
              <effect_speed>50</effect_speed>
              <enable_decoration>0</enable_decoration>
              <dr_left_top></dr_left_top>
              <dr_right_top></dr_right_top>
              <dr_right_bottom></dr_right_bottom>
              <dr_left_bottom></dr_left_bottom>
              <dr_top img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_top>
              <dr_right img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_right>
              <dr_bottom img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_bottom>
              <dr_left img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_left>
              <multi_column mc_enable="0" mc_number="2" sepa_color="#000000" sepa_transparent="0" sepa_thickness="1" sepa_img="" sepa_img_tile="3"></multi_column>
            </setting>
            <node state="0" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
            </node>
            <node state="0" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
            </node>
            <node state="0" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
            </node>
    </layer></node>
    <node state="1" condition_invisible="0" advanced_disable="0">
            <condition_prefix></condition_prefix>
            <condition_suffix></condition_suffix>
            <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
            <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
            <image out="" over="" width="-1" height="-1" border="0"></image>
            <icon out="" over="" width="0" height="0" border="0"></icon>
            <arrow out="" over="" width="0" height="0" border="0"></arrow>
            <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
            <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    
            <layer>
              <setting>
                <display>1</display>
                <spacing>2</spacing>
                <padding>3</padding>
                <transparency>0</transparency>
                <direction>0</direction>
                <corner_x>0</corner_x>
                <corner_y>0</corner_y>
                <bg_color>#FFFFF7</bg_color>
                <bg_transparent>1</bg_transparent>
                <bg_image></bg_image>
                <bg_tile>3</bg_tile>
                <border_style>0</border_style>
                <border_width>1</border_width>
                <border_color>#000000</border_color>
                <border_synchronize>1</border_synchronize>
                <shadow_type>0</shadow_type>
                <shadow_size>3</shadow_size>
                <shadow_color>#999999</shadow_color>
                <effect_show>0</effect_show>
                <effect_hide>0</effect_hide>
                <effect_speed>50</effect_speed>
                <enable_decoration>0</enable_decoration>
                <dr_left_top></dr_left_top>
                <dr_right_top></dr_right_top>
                <dr_right_bottom></dr_right_bottom>
                <dr_left_bottom></dr_left_bottom>
                <dr_top img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_top>
                <dr_right img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_right>
                <dr_bottom img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_bottom>
                <dr_left img_path="" img_height="-1" img_width="-1" bg_img="" bg_color="#FFFFF7" bg_transparent="0" bg_tile="3"></dr_left>
                <multi_column mc_enable="0" mc_number="2" sepa_color="#000000" sepa_transparent="0" sepa_thickness="1" sepa_img="" sepa_img_tile="3"></multi_column>
              </setting>
              <node state="0" condition_invisible="0" advanced_disable="0">
                <condition_prefix></condition_prefix>
                <condition_suffix></condition_suffix>
                <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
                <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
                <image out="" over="" width="-1" height="-1" border="0"></image>
                <icon out="" over="" width="0" height="0" border="0"></icon>
                <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
                <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
                <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
              </node>
              <node state="0" condition_invisible="0" advanced_disable="0">
                <condition_prefix></condition_prefix>
                <condition_suffix></condition_suffix>
                <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
                <font out_face="Arial, Verdana" out_color="#666666" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#666666" over_size="10" over_size_unit="0" over_decoration="1"></font>
                <image out="" over="" width="-1" height="-1" border="0"></image>
                <icon out="" over="" width="0" height="0" border="0"></icon>
                <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
                <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[16]\round5a.gif" over_tile="0"></background>
                <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
              </node>
    </layer></node>
    <node state="1" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    </node>
    <node state="0" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    </node>
    <node state="1" condition_invisible="0" advanced_disable="0">
              <condition_prefix></condition_prefix>
              <condition_suffix></condition_suffix>
              <general width="110" height="28" type="0" align_h="1" align_v="1" tip_text="" status="" status_default="1"></general>
              <font out_face="Arial, Verdana" out_color="#000000" out_size="8" out_size_unit="0" out_decoration="1" over_face="Arial, Verdana" over_color="#000000" over_size="13" over_size_unit="0" over_decoration="1"></font>
              <image out="" over="" width="-1" height="-1" border="0"></image>
              <icon out="" over="" width="0" height="0" border="0"></icon>
              <arrow out="" over="" width="-1" height="-1" border="0"></arrow>
              <background out_color="#66CC66" out_transparent="1" out_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16.gif" out_tile="0" over_color="#66CC66" over_transparent="1" over_image="C:\PROGRA~1\SOURCE~1\SOTHIN~1\Item Styles\Item Style[7]\round16a.gif" over_tile="0"></background>
              <border style="0" width="1" out_color="#009900" out_synchronize="1" over_color="#009900" over_synchronize="1"></border>
    </node></layer>
    
  <cross_frame>
    <created>0</created>
    <direction>0</direction>
    <coor_x>0</coor_x>
    <coor_y>0</coor_y>
    <iframe>0</iframe>
    <navigate_frame>Navigation_frame</navigate_frame>
    <content_frame>Main_frame</content_frame>
    <show_in_navigation>1</show_in_navigation>
  </cross_frame>
  <scroll_h>
    <enable_scroll>0</enable_scroll>
    <enable_custom>0</enable_custom>
    <custom_size>200</custom_size>
    <bg_out_color>#FFFFF7</bg_out_color>
    <bg_out_transparent>1</bg_out_transparent>
    <bg_out_image></bg_out_image>
    <bg_out_tile>3</bg_out_tile>
    <bg_over_color>#B5BED6</bg_over_color>
    <bg_over_transparent>1</bg_over_transparent>
    <bg_over_image></bg_over_image>
    <bg_over_tile>3</bg_over_tile>
    <border_style>0</border_style>
    <border_width>1</border_width>
    <border_out_color>#FFFFF7</border_out_color>
    <border_out_synchronize>1</border_out_synchronize>
    <border_over_color>#000000</border_over_color>
    <border_over_synchronize>1</border_over_synchronize>
    <arrow_lu_enable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\left_disabled.gif</arrow_lu_enable>
    <arrow_lu_disable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\left_enabled.gif</arrow_lu_disable>
    <arrow_lu_width>9</arrow_lu_width>
    <arrow_lu_height>7</arrow_lu_height>
    <arrow_lu_border>0</arrow_lu_border>
    <arrow_rd_enable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\right_disabled.gif</arrow_rd_enable>
    <arrow_rd_disable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\right_enabled.gif</arrow_rd_disable>
    <arrow_rd_width>9</arrow_rd_width>
    <arrow_rd_height>7</arrow_rd_height>
    <arrow_rd_border>0</arrow_rd_border>
  </scroll_h>
  <scroll_v>
    <enable_scroll>0</enable_scroll>
    <enable_custom>0</enable_custom>
    <custom_size>200</custom_size>
    <bg_out_color>#FFFFF7</bg_out_color>
    <bg_out_transparent>1</bg_out_transparent>
    <bg_out_image></bg_out_image>
    <bg_out_tile>3</bg_out_tile>
    <bg_over_color>#B5BED6</bg_over_color>
    <bg_over_transparent>1</bg_over_transparent>
    <bg_over_image></bg_over_image>
    <bg_over_tile>3</bg_over_tile>
    <border_style>0</border_style>
    <border_width>1</border_width>
    <border_out_color>#FFFFF7</border_out_color>
    <border_out_synchronize>1</border_out_synchronize>
    <border_over_color>#000000</border_over_color>
    <border_over_synchronize>1</border_over_synchronize>
    <arrow_lu_enable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\up_disabled.gif</arrow_lu_enable>
    <arrow_lu_disable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\up_enabled.gif</arrow_lu_disable>
    <arrow_lu_width>7</arrow_lu_width>
    <arrow_lu_height>9</arrow_lu_height>
    <arrow_lu_border>0</arrow_lu_border>
    <arrow_rd_enable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\down_disabled.gif</arrow_rd_enable>
    <arrow_rd_disable>C:\PROGRA~1\SOURCE~1\SOTHIN~1\Resource\down_enabled.gif</arrow_rd_disable>
    <arrow_rd_width>7</arrow_rd_width>
    <arrow_rd_height>9</arrow_rd_height>
    <arrow_rd_border>0</arrow_rd_border>
  </scroll_v>
  
</sothink_menu>
